.speech {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    color: black;
}

.song{
    font-family: "Georgia", serif;
    font-size: 18px;
    color: black;
    font-style: italic;
}

.direction {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: black;
    background-color: #e0e;
}

.name{
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.direction:hover {
    background-color: #333333;
    color: #ffffff
}

.men{
    color: darkblue
}
.girls{
    color: purple
}
.all{
    color: Teal
}